<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>Question</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Questionary :: a Spring Framework demonstration</title>
    
</head>
<body>
    <h2>Welcome to Questionary</h2>

    <div class="row">
        <div class="col-md-12">
        	<h2>What is the question ?</h2><br/>
        	<select name="qn_option">
			    <option th:each="option : ${options}"
			            th:value="${option.getOptionId()}"
			            th:text="${option.getOptionName()}"
			         >
			        Options
			    </option>
			</select>
			
			<br/><br/>
			<button type="submit" name="action" value="save">Previous</button>
			<button type="submit" name="action" value="save">Next</button>
        </div>
    </div>

</body>
</html>